* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
}
a {
    color: #333;
}
button {
    cursor: pointer;
}
.App {
    background-color: antiquewhite;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
ul {
    list-style: none;
}
hr {
    margin-bottom: 10px;
}

/* footer */

